<ul class="breadcrumb">
  <li>
    <%= link_to "Projects", projects_path %> <span class="divider">/</span>
  </li>
  <li class="active"><%= @project.title %></li>
</ul>
<div class="row">
  <div class="span3">
    <div class="well" style="padding: 8px 0;">
      <ul class="nav nav-list">
        <li class="nav-header">
          Projects
        </li>
        <% @projects.each do |item| %>
        <li>
          <%= link_to item.title, :controller => "projects", :action => "show", :id => item.id %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="span9">
    <%- model_class = @project.class -%>
    <div class="page-header">
      <h1><%= @project.title%></h1>
    </div>

    <p>
      <strong><%= model_class.human_attribute_name(:subtitle) %>:</strong><br>
      <%= @project.subtitle %>
    </p>
    <p>
      <strong><%= model_class.human_attribute_name(:short_description) %>:</strong><br>
      <%= @project.short_description %>
    </p>
    <p>
      <strong><%= model_class.human_attribute_name(:long_description) %>:</strong><br>
      <%= @project.long_description %>
    </p>
    <p>
      <strong><%= model_class.human_attribute_name(:url) %>:</strong><br>
      <%= @project.url %>
    </p>

    <!--
    <div class="form-actions">
      <%= link_to t('.back', :default => t("helpers.links.back")),
                  projects_path, :class => 'btn'  %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_project_path(@project), :class => 'btn' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  project_path(@project),
                  :method => 'delete',
                  :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                  :class => 'btn btn-danger' %>
    </div>
    -->

  </div>
</div>
